{% extends "layout.html" %}

{% block title %}Play - Clicker Game{% endblock %}

{% block extra_styles %}

{% endblock %}

{% block content %}
<div id="game">
    <h1>Clicker Game</h1>
    <p id="count">Clicks: 0</p>
    <p id="timer">Time: 0.00s</p>
    <button id="startButton">Start Game</button>
    <button id="clickButton" disabled>Click Me!</button>
    <button id="resetButton">Reset</button>
</div>

<script>
    // JavaScript code (same as before)
    // ...
</script>
{% endblock %}
